# Site
title:              Felipe Rego
bio:                'Helping teams build, manage and enhance their data science capabilities'
description:        "Helping teams build, manage and enhance their data science capabilities"
locale:             en_US
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site

defaults:
- scope:
    path: ''
    type: posts
  values:
    permalink: "/:title"
    layout: post
    author:

collections:
  cases:
    output: true
    permalink: /:collection/:path
    layout: cases


# Jekyll
permalink:          /:title/
markdown:           kramdown
highlighter:        rouge
kramdown:
  auto_ids:         true
  footnote_nr:      1
  entity_output:    as_char
  toc_levels:       1..6
  enable_coderay:   false
mathjax:            true
sass:
  sass_dir:         _sass
  style:            compressed

# Comments
#disqus_shortname:   #default

# Social
analytics-id:       "UA-60784589-1"
twitter:            FelipeRego
#facebook:           #default
instagram:          feliperego.com.au
#github:             #default
linkedin:           FelipeRego

# personal
location:           Sydney, AU
phone:              +61 2 8005 8138
email:              felipe@feliperego.com.au

# Gems
plugins:
  - jekyll-mentions
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate

paginate: 6
paginate_path: "/blog/page:num/"

jekyll-mentions:
    base_url: https://github.com

# Exclude list
exclude: [README.md, Gemfile, Gemfile.lock, node_modules, gulpfile.js, package.json, _site, src, vendor, CNAME, LICENSE, Rakefile, old]
