<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="google-site-verification" content="oJSqoS7vjKrE-wkLKEJnKVWS5BjGavc5NUGG4k1Grfw" />
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:fe_cr@hotmail.com">Email</a></li>
	        		<li><a href="https://github.com/FelipeRego">Github</a></li>
	        		<li><a href="http://www.quora.com/Felipe-Rego-1">Quora</a></li>
	        		<li><a href="https://www.linkedin.com/in/feliperego">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
